body {
  background-color: aqua;
  font-family: Arial, sans-serif;
}

h1 {
  color: pink;
}

p {
  color: blue;
  font-size: 20px;
}
.about {
  background-color: blue;
  color: white;
}

.skills {
  background-color: green;
  color: white;
}

.projects {
  background-color: red;
  color: white;
}
.class{
  button:hover;
  background-color:aqua;
}